html {
    font-size: 1.2rem;
    font-family: 'Golos Text', sans-serif;
}

body {
    color: #fff;
    background-color: #3F2B96;
    background: linear-gradient(70deg, #3F2B96 0%, #A8C0FF 100%);
}

a {
    text-decoration: none;
    color: #fff;
}

/* Hero */

.hero-wrapper {
    background-color: #ffffff50;
    border-radius: 1.5em;
}

.hero-title {
    color: #fff;
}

/* About */

.hello {
    border-bottom: 3px dashed #fff;
}

/* Contact Icons */

.contact-icon-wrapper {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    border-radius: 1rem;
    margin-right: .5rem;
    text-align: center;
    vertical-align: bottom;
    position: relative;
}

.contact-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
}

.twitter {
    background-color: #1DA1F2;
}

.telegram {
    background-color: #fff;
}

.telegram i {
    color: #2AABEE;
    font-size: 2.5rem;
}

.discord {
    background-color: #5865F2;
}